<div class="inside">
   <div class="container-fluid">
      <menu-item></menu-item>
      <router-view></router-view>
      <!-- Div contenendor general-->
      <div class="row justify-content-center align-items-center" style="margin-top: 100px;">
         <form>
     
               <H1 style="text-align-last: center; color: aliceblue;">Gestion de Bancos</H1>
               <div>

                  <input type="text" class="form-control" name="banco" title="Nombre del Banco" v-model="registro.banco"
                     placeholder="Ingrese el nombre del Banco" style="text-align: left; margin-top: 10px;">
               </div>
               <div>


                  <input type="text" class="form-control" name="cuenta" title="Numero de cuenta"
                     v-model="registro.cuenta" placeholder="Num. Cuenta Bancaria"  style="text-align: left; margin-top: 10px;" >
               </div>
               <div>


                  <input type="text" class="form-control" name="sucursal" title="Número y Nombre de sucursal"
                     v-model="registro.sucursal" placeholder="Número y Nombre de sucursal"  style="text-align: left; margin-top: 10px;">
               </div>

               <select v-model="codigomoneda" class="form-control" style="width: 50%; margin-bottom: 10px;margin-top: 10px;">
                  <option disabled value="">Seleccione Moneda de cuenta</option>
                  <option v-for="(codigomoneda,index) in devuelvomoneda" v-bind:value="codigomoneda">
                     {{codigomoneda.idmon}} {{codigomoneda.moneda}}
                  </option>
               </select>

               <button class="btn btn-primary" v-on:click="mostraractivos()" style="margin-left: 30px;">Mostrar
                  Activos</button>
               <button class="btn btn-primary" v-on:click="mostrartodos()" style="margin-left: 30px;">Mostrar
                  Todos</button>
               <button type="@leave-cancelled=" class="btn btn-danger" v-on:click="cerrarsesion()"
                  style="margin-left: 30px;">Cancelar</button>
               <button type="submit" class="btn btn-success" style="margin-left: 30px;margin-bottom: 20px;"
                  v-on:click="crearbancos()">Ingresar</button>
         </form>
         <div class="container-fluid" style="margin-top: 50;">
            <!--comienzo de de tabla-->
            <template>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-8">
                        <div class="table-responsive small table-striped  table-dark">

                           <table class="table">
                              <thead class="thead-dark" style="text-align: center;">
                                 <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Banco</th>
                                    <th scope="col">Moneda</th>
                                    <th scope="col">Num Cuenta</th>
                                    <th scope="col">Num y Nom. Sucursal</th>
                                    <th scope="col">Acciones</th>
                                    <th scope="col">Acciones</th>

                                 </tr>
                              </thead>
                              <tbody>
                                 <tr v-for="(banco,index) in bancos" style="color: aquamarine;">
                                    <td><input class="inputtabla" type="number" v-model="banco.idbanco" size="3">
                                    </td>
                                    <td><input class="inputtabla" type="text" v-model="banco.banco"
                                          title="Haga click para editar y luego presione el botón Modificar"></td>
                                    <td style="text-align: center;">
                                       <input class="inputtablasm" type="number" v-model="banco.idmon"
                                          title="Haga click para editar y luego presione el botón Modificar"><input
                                          disabled style="text-align: left;" class="inputtabla" type="text"
                                          v-model="banco.moneda">
                                    </td>
                                    <td style="text-align: center;">
                                       <input class="inputtabla" type="text" v-model="banco.cuenta"></td>
                                    <td><input class="inputtabla" type="text" v-model="banco.sucursal"
                                          title="Haga click para editar y luego presione el botón Modificar"></td>
                                    <td style="text-align: center;">
                                    <td><button class="btn btn-danger"
                                          v-on:click="eliminarbancos(index,banco.idbanco)">Elimina</button></td>
                                    <td><button class="btn btn-success"
                                          v-on:click="actualizarbancos(index)">Modifica</button>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>

                        </div>
                     </div>
                  </div>
               </div>
            </template>

         </div>
         <!--find de tabla-->
      </div>
   </div>
   <!-- Div contenendor general-->
</div>