img.nfimg {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
}

h1.nfh1 {
    color: crimson;
    font-size: large;
    text-align: center;
}
input.inputtabla {
    border: none;
    background: transparent;
    color: white;
}

input.inputtabla:hover {
    border: none;
    background: seagreen;
    color: white;
}
