<div class="inside">
    <div class="container-fluid">
        <menu-item></menu-item>
        <router-view></router-view>
        <br>
        <br>
        <H1 style="text-align-last: center; color: aliceblue;">Ingreso de Movimientos por:</H1>
        <form style=" color: aliceblue; text-align: center;">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <select v-model="codigoproveedor" title="Proveedor que sera asociado a estas facturas ingresadas"
                        class="form-control muestroprov">
                        <option disabled value="">Selecione Proveedor</option>
                        <option v-for="(codigoproveedor,index) in devuelvoproveedor" v-bind:value="codigoproveedor">
                            Nº: {{codigoproveedor.idpro}} | Razon Social: {{codigoproveedor.razon}} | Saldo total:
                            {{codigoproveedor.moneda}} {{codigoproveedor.saldototal}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select v-model="codigodocumento" title="Seleccione el tipo de documento" style="width:100%;">
                        <option disabled value="">Tipo Documento</option>
                        <option v-for="(codigodocumento,index) in devuelvodocumento" v-bind:value="codigodocumento">
                            {{codigodocumento.idtipdoc}} | {{codigodocumento.tipodoc}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <input type="text" style="text-align: center;" class="form-control movimientofrm" name="nrofac"
                        v-model="registro.nrofac" placeholder="Ingrese Nº Factura" title="Ingresar número de factura">
                </div>
                <div class="form-group col-md-2">
                    <input type="date" style="text-align: center;" class="form-control movimientofrm" name="feching"
                        v-model="registro.feching" placeholder="Fecha Ingreso"
                        title="Ingresar fecha de ingreso de factura">
                </div>
                <div class="form-group col-md-2">
                    <input type="date" style="text-align: center;" class="form-control movimientofrm" name="fechpag"
                        v-model="registro.fechpag" placeholder="Fecha Ingreso"
                        title="Ingresar fecha en que pago de la factura">
                </div>
                <div class="form-group col-md-2" style="text-align: center; margin-left: 0px;">
                    <select v-model="codigomoneda" title="Seleccionar moneda de la factura" style="width:100%;"
                        v-on:focus="obtenerproveedor(codigoproveedor.idpro,codigoproveedor.razon,codigoproveedor.moneda,codigoproveedor.saldototal)">
                        <option disabled value="">Moneda</option>
                        <option v-for="(codigomoneda,index) in devuelvomoneda" v-bind:value="codigomoneda">
                            {{codigomoneda.idmon}} {{codigomoneda.moneda}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <input type="text" style="text-align: center;" class="form-control movimientofrm" name="nrocheq"
                        v-on:focus="" v-model="registro.nrocheq" placeholder="Nª Cheque" title="Numero de cheque">
                </div>
                <div class="form-group col-md-1">
                    <input type="date" style="text-align: center;" class="form-control movimientofrm" name="fechcheq"
                        v-model="registro.fechcheq" placeholder="Fecha Cheque" title="Fecha del cheque">
                </div>
                <div class="form-group col-md-1">
                    <input type="number" style="text-align: center;" class="form-control movimientofrm" name="debe"
                        v-model="registro.debe" placeholder="Debe" title="Debe">
                </div>
                <div class="form-group col-md-1">
                    <input type="number" style="text-align: center;" class="form-control movimientofrm" name="haber"
                        v-model="registro.haber" placeholder="Haber" title="Haber">
                </div>
                <div class="form-group col-md-1">
                    <input type="number" style="text-align: center;" class="form-control movimientofrm" name="saldo"
                        v-model="registro.saldo" placeholder="Saldo" title="Saldo">
                </div>
<!--                <div class="form-group col-md-1">
                    <input type="number" style="text-align: center;" class="form-control movimientofrm" name="saldtot"
                        v-model="registro.saldtot" placeholder="Saldo Total" title="Saldo Total">
                </div>-->
                <div class="form-group col-md-1">
                    <input type="number" style="text-align: center;" class="form-control movimientofrm" name="nrorec"
                        v-model="registro.nrorec" placeholder="Recibo Nº" title="Recibo Nº">
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control inputform movimientofrm" id="observaciones"
                        placeholder="Ingrese observaciones o comentarios" v-model="registro.observaciones">
                </div>
            </div>
    </div>
    <div class="form-row">


        <button class="btn btn-primary" v-on:click="mostraractivos()" style="margin-left: 30px;">Mostrar
            Activos</button>
        <button class="btn btn-primary" v-on:click="mostrartodos()" style="margin-left: 30px;">Mostrar
            Todos</button>
        <button type="@leave-cancelled=" class="btn btn-danger" v-on:click="limpiar()"
            style="margin-left: 30px;">Cancelar</button>
        <button type="submit" class="btn btn-success" v-on:click="registUser(registro,codigomoneda.devuelvoseguridad)"
            style="margin-left: 30px;">Ingresar</button>
        </form>
        <!--comienzo de de tabla-->
        <template>
            <div class="container-fluid" style="text-align: center;">
                <div class="row">
                    <div class="col-mg-12">
                        <div class="table-responsive small table-striped  table-dark">
                            <tr class="table-responsive">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" disabled>ID</th>
                                        <th scope="col">Documento</th>
                                        <th scope="col">Nº Factura</th>
                                        <th scope="col">Nombre Fantasia</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Nombres</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Fecha Ingreso</th>
                                        <th scope="col">Retorno Hasta</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Direccion</th>
                                        <th scope="col">Ciudad</th>
                                        <th scope="col">Moneda</th>
                                        <th scope="col">Saldo Inicial</th>
                                        <!--<th scope="col">Saldo Total</th>-->
                                        <th scope="col">% Ret.</th>
                                        <th scope="col">Ret.Activo</th>
                                        <th scope="col">Observaciones</th>
                                        <th scope="col">Gestion</th>
                                        <th scope="col">Gestion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(movimiento,index) in movimientos">
                                        <td><input class="inputtabla" type="text" v-model="movimiento.idmov" size="3"
                                                disabled>
                                        </td>
                                        <td>
                                            <select v-model="codigodocumento">
                                                <option disabled value="">Proveedor</option>
                                                <option v-for="(codigodocumento,index) in devuelvodocumento"
                                                    v-bind:value="codigodocumento">
                                                    {{codigodocumento.tipodoc}}
                                                </option>
                                            </select>
                                        </td>
                                        <td><input class="inputtabla" type="mail" v-model="movimiento.nrofac"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                        <td><input class="inputtabla" type="date" v-model="movimiento.fechemi">
                                        </td>
                                        <td><input class="inputtabla" type="date" v-model="movimiento.fechpag">
                                        </td>
                                        <td><input class="inputtabla" type="text" v-model="movimiento.moneda">
                                        </td>
                                        <td><input class="inputtabla" type="text" v-model="proveedores.apellido"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                        <td><input class="inputtabla" type="date" v-model="proveedores.feching"
                                                title="Haga click para editar y luego presione el botón Modificar"
                                                data-date-format="DD-MM-YYYY"></td>
                                        <td><input class="inputtabla" type="date" v-model="proveedores.fechret"
                                                title="Haga click para editar y luego presione el botón Modificar"
                                                data-date-format="DD-MM-YYYY"></td>
                                        <td><input class="inputtabla" type="tel" v-model="proveedores.telefono"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                        <td><input class="inputtabla" type="text" v-model="proveedores.direccion"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                        <td><input class="inputtabla" type="text" v-model="proveedores.ciudad"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                        <td><input class="inputtabla" type="text" v-model="proveedores.moneda"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                        <td><input class="inputtabla" type="text" v-model="proveedores.saldoincial"
                                                disabled
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                    <!--    <td><input class="inputtabla" type="text" v-model="proveedores.saldototal"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>-->
                                        <td><input class="inputtabla" type="text" v-model="proveedores.retorno"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                        <td><input class="inputtabla" type="checkbox" v-model="proveedores.retactivo"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                        <td><input class="inputtabla" type="text" v-model="proveedores.observaciones"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                        <td><input class="inputtabla" type="checkbox" v-model="proveedores.activo"
                                                title="Haga click para editar y luego presione el botón Modificar">
                                        </td>
                                        <td><button class="btn btn-danger"
                                                v-on:click="eliminarusuario(index,proveedores.idpro)">Elimina</button>
                                        </td>
                                        <td><button class="btn btn-success"
                                                v-on:click="actualizarusuario(index)">Modifica</button>
                                        </td>
                                    </tr>
                                </tbody>
                        </div>
                    </div>
                </div>
            </div>
        </template>

    </div>
    <!--find de tabla-->

</div>
</div>
<!-- Div contenendor general-->
</div>