<div class="container" style="display: flex; margin-top: 1rem; flex-direction: column; align-items: center;">
    <div class="col-md-12">
        <div class="row masonry-grid">
            <div class="col-md-6 col-lg-3 masonry-column" v-for="(articulo, key ) in foundit" style="margin: 3px;">
                <router-link v-bind:to="'/backoffice/selected/'+articulo.articuloId" class="artcard" style="background-color: white;display: flex;padding: 1rem;color: darkslategrey;
                border-radius: 0.5rem;text-decoration: none;">
                    <div class="card">
                        <h5><strong>#{{articulo.articuloTitulo}} - {{autor}}</strong></h5>
                        <img v-bind:src="articulo.artImg" style="width: 100%;">
                        <div class="col-md6">
                            <span style="display: block;bottom: 1rem;padding: 4px 10px;" v-bind:class="articulo.artStyle">{{articulo.articuloEstado}}</span>
                        </div>
                        <div class="col-md6" style="padding: 3px; font-family: 'nunito', sans-serif;">
                            <span v-if="articulo.recomendacion">{{articulo.recomendacion}}</span>
                            <span v-if="!articulo.recomendacion">Artículo sin recomendación</span>
                        </div>
                    </div>
                </router-link>
                <div class="dropdown" style="position: absolute;display: block;top: 1rem;right: 2rem;padding: 4px 10px;">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" style="background: transparent;
                    border: none;position: absolute;right: 0;top: 0;">
                    <span class="glyphicon glyphicon-option-vertical"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" >Borrar</a></li>
                        <li><a data-toggle="tab" href="#create" v-on:click="editarArt(key)">Editar</a></li>
                    </ul>
                </div>
            </div>   
            <div class="alert alert-danger" v-if="error">No encontramos nada con el termino de busqueda: <strong><h1>{{busqueda}}</h1></strong></div>         
        </div>
    </div>
</div>