<div class="container" style="margin:auto;"> <!-- comienzo del div-->
<transition appear name="fade">
   <div class="container" style="display: flex; height: 100%; font-family: Nunito, sans-serif; color: white;">
        <div class="col-md-12 text-center text-white" style="margin: auto;color: #ffffff;"> <!-- Columna de foto de perfil --->
                        <h1 style="color: #ffffff">Perfil de usuario - {{actualizar.usuarioNombre}}</h1>
                        <h2 class="title"> Usuario Nº: {{id}}</h2>
                        <div class="row">
                            <img src="./assets/profile.png" class="brand" width="300px" style="margin-bottom: 30px; border-radius: 100%;">
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <button class="btn-green" v-on:click="loginUser()">Cambiar Imagen</button>
                            </div>
                        </div>
            <div class="row">
            </div>
        </div> <!--columna de foto de perfil -->
        <div class="col-md-12 text-center text-white" style="margin: auto;"> <!-- Columna de campos de perfil-->
            <div class="row" style="margin: 3rem auto; display: flex;">
                <div class="form-group col-md-4" style="margin: auto;">
                    <hr>
                </div>
                <div class="form-group col-md-4" style="margin: auto;">
                    <h2 class="title text-center ¡">Información</h2>
                </div>
                <div class="form-group col-md-4" style="margin: auto;">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="nombre">Nick</label>
                            <input type="text" class="form-control expandfrm" name="nombre" placeholder="ingrese NickName..."
                                v-model="actualizar.usuarioNick">
                            <div class="border"></div>

                    <label for="nombre">Nombre</label>
                            <input type="text" class="form-control expandfrm" name="nombre" placeholder="ingrese nombre..."
                                v-model="actualizar.usuarioNombre">
                            <div class="border"></div>

                    <label for="apellido">Apellido</label>
                            <input type="text" class="form-control expandfrm" name="apellido" placeholder="ingrese apellido..."
                                v-model="actualizar.usuarioApellido">
                            <div class="border"></div>

                    <label for="pais">Pais</label>
                            <select type="text" class="form-control expandfrm" name="pais" v-model="actualizar.usuarioPais" placeholder="Uruguay" diabled>
                                <option value="0" >Uruguay</option>
                                <option value="1" >Argentina</option>
                                <option value="2" >Brasil</option>
                                <option value="3" >Chile</option>
                                <option value="4" >Paraguay</option>
                                <option value="5" >Otro</option>
                            </select>

                    <label for="educacion">Educacion</label>
                            <select type="text" class="form-control expandfrm" name="educacion" v-model="actualizar.usuarioNivelEduc">
                                <option value="0" >Seleccionar</option>
                                <option value="1" >Primaria</option>
                                <option value="2" >Secundaria</option>
                                <option value="3" >Terciario No Universitario</option>
                                <option value="4" >Terciario Incompleto</option>
                                <option value="5" >Terciario Completo</option>
                                <option value="6" >Otro</option>
                            </select>

                    <label for="organizacion">Organizacion</label>
                            <select type="text" class="form-control expandfrm" name="org" v-model="actualizar.usuarioOrg">
                                <option value="0" >Seleccionar</option>
                                <option value="1" >PRIMARIA</option>
                                <option value="2" >SECUNDARIA</option>
                                <option value="3" >UDELAR</option>                             
                                <option value="4">OTRO</option>
                            </select>
                    <label for="keywords">Palabras Claves</label>
                            <input type="text" class="form-control expandfrm" name="keywords"
                                placeholder="Ingrese temas de interes...Matematica, física..." v-model="actualizar.usuarioKeywords">
                            <div class="border"></div>
                    <label for="keywords">Empleo</label>
                            <input type="text" class="form-control expandfrm" name="empleo"
                                placeholder="Indique su empleo...." v-model="actualizar.usuarioEmpleo">
                            <div class="border"></div>
                    <label for="keywords">Profesion</label>
                            <input type="text" class="form-control expandfrm" name="profesion"
                                placeholder="Indique su profesion" v-model="actualizar.usuarioProfesion">
                            <div class="border"></div>
                    
                    <label for="email">Topicos</label>
                        <select name="" id="topicos" class="form-control expandfrm">
                            <option value="0" selected>Tópicos</option>
                            <option value="1">Computación</option>
                            <option value="2">Software</option>
                            <option value="3">Ciencias naturales</option>
                            <option value="4">Física</option>
                            <option value="5">Química</option>
                            <option value="6">Biología</option>
                            <option value="7">Medicina</option>
                            <option value="8">Ingeniería</option>
                            <option value="9">Laboratorio</option>
                        </select>
                   <label for="email">e-Mail</label>
                        <input type="mail" class="form-control expandfrm" name="email" placeholder="Cambiar correo que utiliza para hacer Login..."
                            v-model="actualizar.usuarioEmail">
                        <div class="border"></div>
                    </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <button class="btn-green waves" type="button" v-on:click="actualizaUser()">Actualizar</button>
                </div>
                <div class="form-group col-md-6">
                    <button class="btn-red waves" to="/" v-on:click="cancelar()">Cancelar</button>
                </div>
            </div>
        </div> <!-- fin de columna con campos de perfil -->
    </div>
</transition>

</div> <!-- fin del div que egloba todo-->
