a:hover , a:focus {
	background-color: transparent!important;
}

a.btn.dropdown {
    background: transparent;
    border: 1px solid transparent;
}

.cbtn {
	/*box-shadow:0 1px 1.5px 1px rgba(0,0,0,.12);*/
    border-radius: unset;
}

.cbtn:focus {

	outline: none!important;
}

.cbtn:active {

	outline: none!important;
}

.cbtn-primary {
	background-color:#2196F3; 
	border-color: #2196F3;
	color: white;
}

.cbtn-primary:hover, .cbtn-primary:active, .cbtn-primary:focus, .cbtn-primary:visited {
	background-color:transparent; 
	border-color: #2196F3;
	color: white;
}

.cbtn-warning {
	background-color:#FFC107; 
	border-color: #FFC107;
	color: white;
}

.cbtn-warning:hover, .cbtn-warning:active, .cbtn-warning:focus {
	background-color:#FFC107; 
	border-color: #FFC107;
	color: white;
}

.cbtn-default {
	background-color:#f5f5f5; 
	border-color: #f5f5f5;
	color: black;
}

.cbtn-default:hover, .cbtn-default:active, .cbtn-default:focus {
	background-color:transparent; 
	border-color: #f5f5f5;
	color: white;
}

.cbtn-rdefault {
    background-color: transparent;
    border-color: transparent;
    color: #2196F3;
    box-shadow: none;
}

.cbtn-rdefault:hover {
    color: #fff;
}

.cbtn-danger {
	background-color:#ff5722; 
	border-color: #ff5722;
	color: white;
}

.cbtn-danger:hover, .cbtn-danger:active, .cbtn-danger:focus ,.cbtn-danger:visited {
	background-color:transparent; 
	border-color: #ff5722;
	color: white;
}

.cbtn-info {
	background-color:#00bcd4; 
	border-color: #00bcd4;
	color: white;
}

.cbtn-success:hover, .cbtn-success:active, .cbtn-success:focus {
	background-color:#5fd400; 
	border-color: #4eac02;
	color: white;
}

.cbtn-success {
	background-color:#5fd400; 
	border-color: #4eac02;
	color: white;
}

.cbtn-info:hover, .cbtn-info:active, .cbtn-info:focus {
	background-color:#00bcd4; 
	border-color: #00bcd4;
	color: white;
}

.hbtn-danger {
	background-color: transparent;
    border-color: #ff5722;
    color: white;
    border-radius: 0.6rem;
}

.hbtn-warning {
	background-color: transparent;
    border-color: #FFC107;
    color: white;
    border-radius: 0.6rem;
}

.hbtn-info {
	background-color: transparent;
    border-color: #00bcd4;
    color: white;
    border-radius: 0.6rem;
}

.hbtn-default {
	background-color: transparent;
    border-color: #fff;
    color: white;
    border-radius: 0.6rem;
}

.hbtn-success {
	background-color: transparent;
    border-color: #4caf50;
    color: white;
    border-radius: 0.6rem;
}

.hbtn-primary {
	background-color: transparent;
    border-color: #2196F3;
    color: white;
    border-radius: 0.6rem;
}